* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background-color: #E9967A;
  font: 14px sans-serif;
  color: #000;
}

main {
  border: 1px white solid;
}

input {
  width: 200px;
}
